<div class="methods">
  <span
    class="methods-continue inter inter-400 w-full my-5 flex align-items-center justify-content-center"
  >
    Or Continue with
  </span>
  <div
    class="methods-social w-full flex gap-5 align-items-center justify-content-center"
  >
    <i class="methods-social_icon" (click)="loginWithGoogle()">
      <img src="assets/images/google.svg" alt="google-icon" />
    </i>
    <i class="methods-social_icon">
      <img src="assets/images/twitter.svg" alt="twitter-icon" />
    </i>
    <i class="methods-social_icon">
      <img src="assets/images/facebook.svg" alt="facebook-icon" />
    </i>
    <i class="methods-social_icon">
      <img src="assets/images/apple.svg" alt="apple-icon" />
    </i>
  </div>
</div>
