@import "variables.scss";

.forgot {
  max-width: 80%;
  &-card {
    &_recover {
      margin-bottom: 2.5em !important;
      font-size: 1rem;
      text-decoration: none;
      color: $main-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .forgot {
    max-width: unset;
  }
}
