@if(currentStep === 1){
<div class="forgot flex flex-column justify-content-center h-full">
  <h2 class="forgot-header mb-5 mt-0">Forgot your password?</h2>
  <p-toast position="top-center" />
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <div class="card flex w-full flex-column justify-content-center">
      <input
        class="w-full inter inter-500"
        type="email"
        placeholder="Enter Email"
        [class.mb-3]="
          !(
            forgotPasswordForm.get('email')?.errors &&
            (forgotPasswordForm.get('email')?.touched ||
              forgotPasswordForm.get('email')?.dirty)
          )
        "
        [class]="'ng-invalid ng-dirty'"
        pInputText
        formControlName="email"
      />
      @if(forgotPasswordForm.get('email')?.errors &&
      (forgotPasswordForm.get('email')?.touched ||
      forgotPasswordForm.get('email')?.dirty)){
      @if(forgotPasswordForm.get('email')?.errors?.['email']){
      <app-error-message
        [message]="'Please enter a valid email address'"
      ></app-error-message>
      }@else if(forgotPasswordForm.get('email')?.errors?.['required']){
      <app-error-message [message]="'Email is required'"></app-error-message>
      } }
      <a
        [routerLink]="['/login']"
        class="ml-auto m-0 poppins poppins-400 forgot-card_recover"
        >Return to sign in</a
      >
      <app-button
        [loading]="loading"
        [label]="'Next'"
        [type]="'submit'"
        [disabled]="!forgotPasswordForm.valid"
      ></app-button>
    </div>
  </form>
  <app-register-methods></app-register-methods>
</div>
}@else if(currentStep === 2){
<app-verify-code
  [email]="forgotPasswordForm.get('email')?.value"
  (nextStep)="nextStep($event)"
></app-verify-code>
}@else if(currentStep === 3){
<app-reset-password
  [email]="forgotPasswordForm.get('email')?.value"
></app-reset-password>
}
