<app-data-view
  [component]="'StartQuiz'"
  [exams]="exams()"
  (examQuestions)="setExamQuestions($event)"
  (showConfirmationDialog)="setConfirmationDialog($event)"
></app-data-view>

@if(examQuestions() && showConfirmationDialog()){
<app-dialog
  [closable]="false"
  [closeOnEscape]="false"
  [modal]="true"
  [header]="'Instructions'"
  [body]="instructions"
  [confirmLabel]="'Start'"
  [(showDialog)]="showConfirmationDialog"
  (buttonClicked)="startExam($event)"
></app-dialog>
} @else if(showExamModal()){
<app-exam-dialog
  [(showDialog)]="showExamModal"
  (buttonClicked)="sendQuestion($event)"
  [examQuestion]="examQuestions()[questionNumber()]"
  [allExamQuestions]="examQuestions()"
  [questionNumber]="questionNumber()"
  (finalResult)="showExamResults($event)"
></app-exam-dialog>
} @else if(showExamResultModal()){
<app-result-dialog
  [closable]="false"
  [closeOnEscape]="false"
  [modal]="true"
  [header]="'Your score'"
  [examResult]="examResult()"
  [confirmLabel]="'Show results'"
  [cancelLabel]="'Back'"
  [(showDialog)]="showExamResultModal"
  (buttonClicked)="startExam($event)"
></app-result-dialog>
}
