.forgot{  
    &-card{
        &_recover{
            cursor: pointer;
            margin-bottom: 2.5em !important;
            font-size: 1rem;    
        }
    }
    .cursor-not-allowed{
        border: unset;
        background-color: unset;
        &:disabled{
            cursor: not-allowed;
        }
    }
}
