<div class="forgot flex flex-column justify-content-center h-full">
  <h2 class="forgot-header mb-5 mt-0">Set a Password</h2>
  <p-toast position="top-center" />
  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div class="card flex w-full flex-column justify-content-center">
      <p-password
        [styleClass]="'w-full'"
        formControlName="password"
        placeholder="Create Password"
        [class.mb-5]="
          !(
            resetPasswordForm.get('password')?.errors &&
            (resetPasswordForm.get('password')?.touched ||
              resetPasswordForm.get('password')?.dirty)
          )
        "
        [toggleMask]="true"
      ></p-password>
      @if(resetPasswordForm.get('password')?.errors &&
      (resetPasswordForm.get('password')?.touched ||
      resetPasswordForm.get('password')?.dirty)){
      @if(resetPasswordForm.get('password')?.errors?.['pattern']){
      <app-error-message
        [message]="
          'Password must be at least 6 characters long and contain at least one letter and one special character'
        "
      ></app-error-message>
      }@else if(resetPasswordForm.get('password')?.errors?.['required']){
      <app-error-message [message]="'Password is required'"></app-error-message>
      } }
      <p-password
        [styleClass]="'w-full'"
        formControlName="rePassword"
        placeholder="Re-enter Password"
        [class.mb-5]="
          !(
            resetPasswordForm.get('rePassword')?.errors &&
            (resetPasswordForm.get('rePassword')?.touched ||
              resetPasswordForm.get('rePassword')?.dirty)
          )
        "
        [toggleMask]="true"
      ></p-password>
      @if(resetPasswordForm.get('rePassword')?.errors &&
      (resetPasswordForm.get('rePassword')?.touched ||
      resetPasswordForm.get('rePassword')?.dirty)){
      @if(resetPasswordForm.get('rePassword')?.errors?.['passwordMismatch']){
      <app-error-message
        [message]="'Passwords do not match'"
      ></app-error-message>
      }@else if(resetPasswordForm.get('rePassword')?.errors?.['required']){
      <app-error-message
        [message]="'rePassword is required'"
      ></app-error-message>
      } }
      <app-button
        label="Sign in"
        [type]="'submit'"
        [loading]="loading"
        [disabled]="false"
      ></app-button>
    </div>
  </form>
  <app-register-methods></app-register-methods>
</div>
