.navbar{
    max-width: 25.63rem;
    &-list{
        list-style: none;
        &_item{
            cursor: pointer;
            &__register{
                border:0.063em solid #E0E0E9;
                padding: 0.563em 1.531em;
                padding-right: 1.313em;
                border-radius: 0.938em;
                box-shadow: 0px 10px 30px 0px #4461F20D;
            }
        }
    }
}
.flex{
    gap:3.063rem;
}

p-splitbutton{
    max-width: 4.25rem;
}