<nav class="inter navbar">
    <ul class="navbar-list mb-0 p-0 flex align-items-center justify-content-center">
      <li class="inter-400 navbar-list_item">
        <div class="card flex justify-content-center flex-wrap gap-3">
            <p-toast />
            <p-splitButton 
                [label]="selectedLanguage" 
                [model]="items" 
                text />
                </div> 
        </li>
      <li class="inter-700 main-color navbar-list_item" routerLink="login">Sign in</li>
      <li class="inter-400 main-color navbar-list_item navbar-list_item__register" routerLink="register">Register</li>
    </ul>
</nav>




