
//colors
$main-color: #4461f2;
$logo-color: #122d9c;
$bg-color: #f0f4fc;

//fonts
$font-poppins: "Poppins", sans-serif;
$font-inter: "Inter", sans-serif;

$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;