<header class="flex">
    <div class="poppins header col-6">
      <div class="header-content">
        <h1 class="poppins-700 header-content_title m-0">Welcome to 
          <span class="logo-color">Elevate</span></h1>
          <p class="poppins-400 header-content_paragraph mt-2 mb-0">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>
         <div class="mt-8">
          <img ngSrc="assets/images/bro.svg" alt="person-taking-exam" width="410" height="437" priority>
         </div>
      </div>
    </div>
    <div class="col-5 col-offset-1 main-content flex flex-column">
    <app-navbar class="align-self-end"></app-navbar>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    </div>
  </header>