<p-dialog
  [header]="header"
  [closable]="closable"
  [closeOnEscape]="closeOnEscape"
  [modal]="modal"
  [(visible)]="showDialog"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">{{ body }}</span>
  <div class="flex justify-content-end gap-2">
    @if(cancelLabel){
    <p-button
      [label]="cancelLabel"
      [outlined]="true"
      [style]="{
        color: color,
        borderRadius: '100px',
        width: confirmLabel ? null : '100%'
      }"
      [style.width]="confirmLabel ? null : '100%'"
      (onClick)="emitAction(cancelLabel)"
    />
    } @if(confirmLabel){
    <p-button
      [label]="confirmLabel"
      [style]="{
        background: color,
        borderRadius: '100px',
        width: cancelLabel ? null : '100%'
      }"
      [style.width]="cancelLabel ? null : '100%'"
      (onClick)="emitAction(confirmLabel)"
    />
    }
  </div>
</p-dialog>
