<p-toast position="top-center" />
<div class="card flex justify-content-start">
  <p-menu
    [model]="items"
    #menu
    [popup]="mobileView()"
    [style]="{ maxwidth: '100%', width: mobileView() ? '100%' : '' }"
  >
    <ng-template pTemplate="start">
      <img
        src="/assets/images/logo.png"
        height="29"
        class="p-mr-2 mb-6"
        alt="brand logo"
      />
    </ng-template>
  </p-menu>
</div>
<app-dialog
  (buttonClicked)="logout($event)"
  [(showDialog)]="showDialog"
  [body]="'Are you sure you want to logout?'"
  [closable]="true"
  [header]="'Confirm Logout'"
  [closeOnEscape]="true"
  [cancelLabel]="'Cancel'"
  [confirmLabel]="'Ok'"
></app-dialog>

<p-button
  icon="pi pi-bars"
  (click)="menu.toggle($event)"
  [style]="{ color: '#fff', background: '#4461f2' }"
  [style.display]="mobileView() ? 'flex' : 'none'"
/>
