@import "variables.scss";

.verify {
  max-width: 80%;
  &-code {
    margin-bottom: 2.5em !important;
    color: $black;
    &_resend {
      color: $main-color;
      border: unset;
      background-color: unset;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .verify {
    max-width: unset;
  }
}
