@import '../../../styles/_variables.scss';

.login{
    max-width: 25.625rem;
    &-forgot{
        cursor: pointer;
        margin-bottom: 2.5em !important;  
        text-decoration: none;      
    }
}
::ng-deep{
    .p-inputtext{
        width: 100% !important;
        font-family: $font-inter !important;
        font-weight: $font-w-500 !important;
    }
}

// ::ng-deep{
//     p-button{
//         ::ng-deep{
//             .p-button {
//                     background: $main-color !important;
//                     width: 100% !important;
//                     padding: 1rem 0rem;
//                     .p-button-label{
//                         font-family: $font-poppins !important;
//                         font-weight: $font-w-400 !important;
//                     }
//                 }
//         }
//     }
// }