@import '../../../styles/_variables.scss';

::ng-deep{
    .p-inputtext{
        width: 100% !important;
        font-family: $font-inter !important;
        font-weight: $font-w-500 !important;
    }
}